{{#each this}}
<div class="card ks-card-header-pic swiper-slide">
  <div class="card-header">{{name}}</div>
  <div style="background-image:url({{cover}})" valign="bottom" class="show-photo card-image color-white no-border lazy lazy-fadein"  data-id="{{id}}"></div>
  {{#if desc}}
  <div class="card-content">
    <div class="card-content-inner">
      <p>{{desc}}</p>
    </div>
  </div>
  {{/if}}
  <div class="card-footer">
    <a href="#" class="link show-photo" data-id="{{id}}">更多图片</a>
    {{#if url}}
    <a href="{{url}}" class="external link" target="_blank">作品链接</a>
    {{/if}}
  </div>
</div>
{{/each}}